body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #dcebca;
}

.headHome{
  color:#606f49;
  text-align: center;
}

.inputHome{
  display: block;
  width: 600px; 
  position: relative; 
  left: 50%; 
  margin-left: -100px;
}

.butt{
  margin-top: 10px;
  font-size: 24px;
  border-radius: 8px;
  background-color: white;
  color: black;
  border: 2px solid black; 
}

.bodyDetails{
  text-align: center;
}

.headDetails{
  text-align: center;
  color:#606f49;
}

.imgDetails{
  width: 50%;
  border-radius: 10px;
}

